@model IEnumerable<DataLayer.Class.Menu>

@{
    ViewBag.Title = "ShowMenus";
    Layout = "~/Views/Shared/headerAndFooter.cshtml";
}



<div class="container">
    <h2>Show Menus</h2>
    <p><a href="/menu/NewMenu/@Convert.ToInt32(ViewData["RestaurantId"])">Create New Menu</a></p>
    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*<img src="@Html.DisplayFor(modelItem => item.Image)" alt="IMAGES" />*@
                    <img src="@Url.Content(item.Image)" width="50px" alt="IMAGES" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MenuId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MenuId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MenuId })
                </td>
            </tr>
        }

    </table>
</div>