@model DataLayer.User

@{
    ViewBag.Title = "ProPicChange";
    Layout = "~/Views/Shared/headerAndFooter.cshtml";
}

<div class="container">

    @using (Html.BeginForm("ProPicChange", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="bg-info text-white">Profile Picture Change</h1>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 text-center">
                    <a style="font-size:25px;" href="/profile/view/@Model.UserID">Back To Profile</a>
            </div>
            </div>



            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserID)


            <div class="row">
                <div class="col-md-12 text-center">
                    <img style="width:300px; height300px;" src="@Model.Image"/>
                </div>
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Image" required/>
                </div>
            </div>

   <input type="hidden" name="UserID" value="@Model.UserID"/>

  
            <div class="form-group">
                <div class="col-md-offset-6 col-md-2">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>


        </div>
    }


</div>